@font-face {
  font-family: "Inter";
  src: url("../assets/font/Inter28pt-Regular.woff2") format("woff2"), url("../assets/font/Inter28pt-Regular.woff") format("woff"), url("../assets/font/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/font/Inter28pt-Bold.woff2") format("woff2"), url("../assets/font/Inter28pt-Bold.woff") format("woff"), url("../assets/font/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/font/Inter28pt-Black.woff2") format("woff2"), url("../assets/font/Inter28pt-Black.woff") format("woff"), url("../assets/font/Inter_28pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter";
    src: url("../assets/font/Inter-Regular.woff2") format(woff2) tech(variations), url("../assets/font/Inter-Regular.woff2") format("woff2-variations");
    font-weight: 100 900;
  }
}
html {
  font-size: 16px;
}

body {
  margin: 0px;
  font-family: "Inter";
  background-image: image-set(url("../assets/img/background.avif") type("image/avif"), url("../assets/img/background.webp") type("image/webp"), url("../assets/img/background.png") type("image/png"));
  background-size: cover;
  background-repeat: repeat;
  background-color: #2a1d42;
  color: #EEF0F1;
}

.wrapper {
  padding-inline: 1rem;
  max-inline-size: 75rem;
  margin-inline: auto;
}

.color {
  color: #a574ff;
  display: inline-block;
}

.header {
  padding-block: 1.5rem;
  margin-block-end: 1rem;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-weight: 700;
}
@media (min-width: 768px) {
  .header__logo {
    font-size: 1.25rem;
  }
  .header .redes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.hero__title {
  text-align: center;
  font-weight: 900;
}
.hero__description, .hero__help {
  font-size: 1.25rem;
  opacity: 0.8;
}
@media (min-width: 480px) {
  .hero__title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 4.5rem;
  }
  .hero__description, .hero__help {
    font-size: 1.5rem;
    text-align: center;
  }
}

.proyects {
  padding-block: 4rem 2rem;
}
.proyects__title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 900;
  margin-block-end: 5rem;
}
.proyects__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1.5rem;
}
@media (min-width: 480px) {
  .proyects__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1366px) {
  .proyects__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

.proyectCard {
  padding: 1rem 1rem 2rem 1rem;
  background: rgba(238, 240, 241, 0.1);
  box-sizing: border-box;
  border-radius: 2rem;
}
.proyectCard__image {
  border-radius: 1rem;
  overflow: hidden;
}
.proyectCard__img {
  inline-size: 100%;
  aspect-ratio: 0.95;
}
.proyectCard__description {
  opacity: 0.5;
}
.proyectCard__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: transparent;
  inline-size: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 700;
}
.buttonIcon--primary {
  color: #EEF0F1;
  background: #2a1d42;
  box-shadow: 0 0 20px rgba(134, 97, 203, 0.6);
}
.buttonIcon--secundary {
  background: #a574ff;
  color: #2a1d42;
}
.buttonIcon__text {
  text-decoration: none;
  color: #EEF0F1;
}

/*# sourceMappingURL=style.css.map */
