// FUENTES ESTATICAS
@font-face {
    font-family: "Inter";
    src:
        url("../assets/font/Inter28pt-Regular.woff2") format("woff2"),
        url("../assets/font/Inter28pt-Regular.woff") format("woff"),
        url("../assets/font/Inter_28pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src:
        url("../assets/font/Inter28pt-Bold.woff2") format("woff2"),
        url("../assets/font/Inter28pt-Bold.woff") format("woff"),
        url("../assets/font/Inter_28pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src:
        url("../assets/font/Inter28pt-Black.woff2") format("woff2"),
        url("../assets/font/Inter28pt-Black.woff") format("woff"),
        url("../assets/font/Inter_28pt-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}


// FUENTE VARIABLE
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: "Inter";
        src:
            url("../assets/font/Inter-Regular.woff2") format(woff2) tech(variations),  /* Sintaxis moderna */
            url("../assets/font/Inter-Regular.woff2") format("woff2-variations");
        font-weight: 100 900;
    }
}

