// COLORES
$colorWhite: #EEF0F1;
$colorPurple: #2a1d42;
$colorBlue: #0F2243;

// MEDIA QUERIES
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1366px;

//FONTS:

// FUENTES ESTATICAS
$fontFamily: "Inter";